p {
    color: darkviolet;
    font-size: 50px;
    font-family: Montserrat, sans-serif;
    position: center;
}
body {
    margin: 0 ; /*внешнее расстояние*/
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 1.6 ; /* Межстрочный отступ */
    color: #333333;
}
